Repository unikraft/docs, pull requests merged in 2023-07, with the labels that each got.

#271 hack-aveiro23: Add landing page
  content/en/community/hackathons/2023-09-aveiro/_index.md
  static/assets/imgs/2023-09-hack-aveiro.png
Labels: enhancement

#264 blog: Add blog post for Arm CCA GSoc project
  content/en/blog/2023-06-23-unikraft-gsoc-arm-cca-1.md
Labels: blog

#265 blog: Add blog post for GSoC'23: Binary Compatibility
  content/en/blog/2023-06-23-unikraft-gsoc-app-compat-1.md
Labels: blog

#266 blog: Add blog post for GSoC'23: Packaging micro-lib
  content/en/blog/2023-06-23-unikraft-gsoc-packaging-libs-1.md
Labels: blog

#297 hackathons/usoc23: Make updates to challenges page
  content/en/community/hackathons/usoc23/challenges/index.md
Labels: documentation, enhancement

#298 hack-vancouver23: Add thanks to Margo Seltzer
  content/en/community/hackathons/2023-09-vancouver/_index.md
Labels: enhancement
